body {
	font-family: Arial;
	font-size: 125%;
	color: #444444;
}

.left {
	left: 0;
	width: 25%;
	height: 100%;
	padding-left: 1%;
	padding-right: 5%;
	position: fixed;
	overflow-x: hidden;
	background: rgb(163, 234, 72);
	text-align: center;
}

.right {
	right: 0;
	width: 75%;
	height: 100%;
	padding-left: 5%;
	padding-right: 5%;
	position: fixed;
	overflow-x: hidden;
	background: linear-gradient(
		135deg,
		rgb(163, 234, 72) 0%,
		rgb(163, 234, 72) 44%,
		rgb(117, 176, 67) 44%,
		rgb(117, 176, 67) 64%,
		rgb(25, 61, 58) 64%,
		rgb(25, 61, 58) 75%,
		rgb(71, 119, 63) 75%,
		rgb(71, 119, 63) 100%
	);
}

.alignLeft {
	text-align: left;
}
